<html>
<head>
{% block head %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
{% endblock head %}
</head>
<body>
  <header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{% block title %}Testbed-16 - DAPA{% endblock title %}</a>
  </header>
  <div class="container">
  {% block body %}
  {% endblock body %}
  </div>

  <nav aria-label="breadcrumb">
  {% block breadcrumbs %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  {% endblock breadcrumbs %}
  </nav>

</body>
</html>